Options -Indexes

<Files ~ "\.(db|ini|sql|log|class\.php)$">
	Order Allow,Deny
	Deny from All
</Files>

<Files ~ "^(\.|Dockerfile|docker-compose\.yml|README\.md)">
	Order Allow,Deny
	Deny from All
</Files>

# Allow uploading large images
php_value upload_max_filesize 32M
php_value post_max_size 32M
